
main
    width: 320px
    margin: auto
    overflow: hidden
    transition: height ease 0.25s

    div.initial-loading
        text-align: center
        margin-top: 32px
        font-size: 18px

    button
        cursor: pointer
    button:disabled
        cursor: not-allowed

div.signin-tab
    input
        display: block
        width: 100%
        height: 28px
        margin-top: 12px
        border-width: 0px 0px 1px 0px
        border-color: #AFAFAF
        border-top-left-radius: 4px
        border-top-right-radius: 4px
    input:focus
        outline-width: 0
        border-color: #3F3F3F
    input:disabled
        cursor: not-allowed

    button
        margin-top: 20px
        margin-left: 20px
        width: 120px
        height: 28px
        border-radius: 4px
        border-width: 0
        outline: none

div.signup-tab
    input
        display: block
        width: 100%
        height: 28px
        margin-top: 12px
        border-width: 0px 0px 1px 0px
        border-color: #AFAFAF
        border-top-left-radius: 4px
        border-top-right-radius: 4px
    input:focus
        outline-width: 0
        border-color: #3F3F3F
    input:disabled
        cursor: not-allowed

    img
        margin-left: 52px

    button
        width: 120px
        height: 28px
        border-radius: 4px
        border-width: 0
        outline: none
    button.signin, button.signup
        margin-top: 20px
        margin-left: 20px
    button.get-secret
        margin: 10px 90px 6px 90px

div.manage-tab
    padding-top: 8px

    div.editable-item
        display: flex
        height: 32px
        padding-top: 4px
        border-top: 1px solid lightgray

        input, span, button
            margin-left: 8px
        input
            height: 22px
            width: 160px
            border-width: 0px 0px 1px 0px
            border-color: #AFAFAF
            border-top-left-radius: 4px
            border-top-right-radius: 4px
        input:focus
            outline-width: 0
            border-color: #3F3F3F
        input:disabled
            cursor: not-allowed
        button
            height: 24px
            border: none
            background: none
            outline: none

    div.table-header
        padding-top: 4px
        border-top: 1px solid lightgray
    table
        margin-bottom: 4px
        font-size: 12px
        tr
            border-radius: 4px
        tr:hover 
            background-color: #F4F4F4
        td
            padding: 2px 4px
        td.last-access
            width: 160px
            span.last-time, span.last-address
                display: block

        button
            height: 24px
            border: none
            background: none
            outline: none
            padding: 0 12px

    div.logout-container
        padding-top: 4px
        border-top: 1px solid lightgray
        button
            display: block
            height: 28px
            width: 90px
            border: none
            outline: none
            background: #c73b3d
            color: white
        button:hover
            background: #db6765